Controller, Model or View?
  Does it return anything except view?
    No
      It's a Controller
    Yes
      Does it display anything?
        No
          It's a Model
        Yes
          It's a View

TO DO:
BIG UI CLEANUP
BIG GAME CLEANUP
FINISH BETTING SYSTEM